@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html * {
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

h4 {
    font-size: 1.125rem;
    line-height: 1rem;
}

p {
    font-size: 0.8em;
    line-height: 1rem;
}

.align-content {
    display: block;
    margin: auto;
    text-align: center;
}

.container-style {
    background-color: rgb(41, 41, 41);
    border: solid 1px black;
    border-radius: 10px;
    padding: 0px 0px 10px 20px;
    margin: 10px;
    color: white;
  }